.login{
    position: absolute;
    left: 50%;
    top:  50%;
    transform: translate(-50%,-50%);
    padding: 10px 10px;
    margin-top: 180px;
    width: 300px;
    text-align: center;
    background-color: #D9D9D9;
    border: solid 3px;
    box-shadow: 0 0 10px rgba(255, 255, 255, .3);
    border-radius: 10px;
}
.tengah{
    display: flex;
}

.tengah .atas {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%-50%);
    
}

.judul{
    position: absolute;
    display: flex;
    top: 300px;
    margin-left: 550px;
}

.daftar {
    position: absolute;
    left: 45%;
    top:  50%;
    transform: translate(-50%,-50%);
    padding: 10px 10px;
    margin-top: 720px;
    width: 100px;
    text-align: center;
    background-color: #FF5151;
    border: solid 3px;
    box-shadow: 0 0 10px rgba(255, 255, 255, .3);
    border-radius: 10px;
}
.panduan {
    position: absolute;
    left: 57.5%;
    top: 8.4%;
    transform: translate(-50%,-50%);
    padding: 10px 10px;
    margin-top: 650px;
    width: 100px;
    text-align: center;
    background-color: rgba(255, 0, 0, 0.385);
    border: solid 3px;
    box-shadow: 0 0 10px rgba(255, 255, 255, .3);
    border-radius: 10px;
}

.daftar a{
    text-decoration: none;
    color: black;
}

.masuk a{
    text-decoration: none;
    color: black;
}

.masuk{
    position: absolute;
    left: 55%;
    top:  50%;
    transform: translate(-50%,-50%);
    padding: 10px 10px;
    margin-top: 720px;
    width: 100px;
    text-align: center;
    background-color: #FF8B8B;
    border: solid 3px;
    box-shadow: 0 0 10px rgba(255, 255, 255, .3);
    border-radius: 10px;
}

.panduan1{
    position: absolute;
    left: 50%;
    top:  55%;
    transform: translate(-50%,-50%);
    padding: 10px 10px;
    margin-top: 180px;
    width: 300px;
    text-align: center;
    background-color: #D9D9D9;
    border: solid 3px;
    box-shadow: 0 0 10px rgba(255, 255, 255, .3);
    border-radius: 10px;
}

.deskripsi{
    position: absolute;
    left: 50%;
    top:  60%;
    transform: translate(-50%,-50%);
    padding: 10px 10px;
    margin-top: 200px;
    width: 300px;
    text-align: center;
    background-color: #D9D9D9;
    border: solid 3px;
    box-shadow: 0 0 10px rgba(255, 255, 255, .3);
    border-radius: 10px;
}

.deskripsi1 {
    position: absolute;
    left: 57.5%;
    top:  34%;
    transform: translate(-50%,-50%);
    padding: 10px 10px;
    margin-top: 650px;
    width: 100px;
    text-align: center;
    background-color: rgba(255, 0, 0, 0.293);
    border: solid 3px;
    box-shadow: 0 0 10px rgba(255, 255, 255, .3);
    border-radius: 10px;
}