.atas{
    position: absolute;
    left: 50%;
    top:  10%;
    transform: translate(-50%,-50%);
    height: 100px;
    width: 1100px;
    background-color: #d9d9d957;
    box-shadow: 0 0 10px rgba(255, 255, 255, .3);
    border-radius: 10px;
}

.mdb{
    color: black;
}

.h1-bayu {
    margin-top: -4rem;
    margin-left: 10%;
}

.card {
    margin-top: 1rem;
    position: relative;
    display: inline-block;
}
.card img {
    width:100%;
    height: 5.2rem;
    
}
.card:hover img {
    display: none;
    width:100%;
    height: 5.2rem;
}
.card .img-top {
    display: none;
    top: 0;
    left: 0;
    width: 50px;
    height: 40px;
}
.card:hover .img-top {
    display: inline;
}
.alert {
    position: absolute;
    left: 15%;
    top:  40%;
    transform: translate(-50%,-50%);
    padding: 10px 10px;
    margin-top: px;
    width: 150px;
    text-align: center;
    background-color: #084ff657;
    border: solid 3px;
    box-shadow: 3px 3px;
    border-radius: 10px;
}

.alert-setting h1{
    text-align: center;
    margin-top: 150px;
    z-index: 100;
}

.ALERT{
    position: absolute;
    left: 55%;
    top:  60%;
    transform: translate(-50%,-50%);
    height: 400px;
    width: 900px;
    text-align: center;
    background-color: silver;
    border: solid 2px;
    box-shadow: 0 0 10px rgba(255, 255, 255, .3);
    border-radius: 10px;
    box-shadow:  5px 5px black;
}   

.ALERT h3{
    text-align: left;
    margin: 10px;
    font-size: 1.6rem;
}

.ALERT h1{
    margin-bottom: 20px;
}

.alert-setting .ALERT h2{
    align-items: center;
}

input[type=range] {
    width: 400px;
}

output {
    display: inline-block;
    min-width: 30px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    font-size: 16px;
    margin-left: 10px;
}

